/* Kimberlee Gray */

/* CSS RESET STYLES */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* VARIABLES */
:root {
    font-size: 16px;
    --bluebery: #1F4373;
    --veg: #96A61F;
    --grain: #BF9004;
    --toast: #73532D;
    --cranberry: #A64037;
}
/* SKIP LINK */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}
/* SCREEN READER ONLY */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/*-------------BODY STYLES----------------- */
body {
    font-family: 'Public Sans', sans-serif;
    color: white;
    box-sizing: border-box;
    background-color: var(--bluebery);
}

img {
    width: 100%;
}
/*-------------HEADER STYLES----------------- */

header h1 {
    font-size: 1.75rem;
    padding: 8vw;
    margin-top: 5px;
}

/* ICONS */
header svg {
    height: 38px;
    position: relative;
    top: 18px;
    right: 8vw;
    padding-right: 10px;
}

header svg:hover {
    cursor: pointer;
}

.cart {
    position: absolute;
    height: 35px;
    top: 37px;
    right: 25vw;
    padding: 0;
}

/*-------------HAMBURGER MENU & NAVIGATION----------------- */
#menu-toggle input, #opened {
    display: none;
    z-index: 2;
}

#menu-toggle {
    right: 0px;
    top: 2%;
    position: absolute;
    user-select: none;
    z-index: 2;
}

#menu-toggle ul {
    display: none;
    width: 100vw;
    z-index: 2;
}

#menu-toggle li {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F4373;

    z-index: 2;
}

#menu-toggle li a {
    color: white;
    text-decoration: none;
}

#menu-toggle li:hover {
    background-color: #A64037;
    cursor: pointer;
}

#menu-toggle input:checked ~ ul, #menu-toggle input:checked ~ label {
    display: flex;
    position: relative;
    top: -20px;
    flex-direction: column;
}
#menu-toggle input:checked ~ label #closed {
    display: none;
}

#menu-toggle input:checked ~ label #opened{
    display: flex;
    z-index: 2;
    padding: 20px 0;
    align-content: center;
    justify-content: center;

}

#menu-toggle input:checked ~ label #opened:hover {
    cursor: pointer;
}
#menu-toggle input:checked ~ label #opened svg{
    padding: 0;
    right: 0;
    top: 0;
}

#open-color {
    color: white;
    background-color: #1F4373;
    z-index: 3;
}

/*-------------HERO STYLES----------------- */

#hero {
    display: grid;
    position: relative;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
}

#hero img {
    filter: brightness(45%);
    height: 70vh;
    object-fit: cover;
    z-index: 0;
    grid-row: 1 /-1;
}

#hero h2 {
    font-weight: bold;
    font-size: 2.5rem;
    position: absolute;
    width: 80%;
    padding: 0 10%;
    color: white;
    z-index: 1;
    grid-row: 2/ 3;
    display: flex;
    align-self: end;
}

#hero p{
    position: absolute;
    max-width: 80%;
    padding: 0 10%;
    line-height: 1.4;
    color: white;
    grid-row: 3/ 4;
    font-size: 1.1rem;
    display: flex;
    align-self: center;
}

#hero a {
    position: absolute;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: var(--cranberry);
    color: white;
    grid-row: 4/ -1;
    margin-top: 15px;
    justify-self: center;
    align-self: flex-start;
    text-transform: uppercase;
}

/*-------------CATEGORIES STYLES----------------- */

#categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

#categories h2 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 15% 20% 0;
}

#categories li a img {
    clip-path: circle(30%);
    border: 2px black solid;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    top: 10px;
    aspect-ratio: 7/6;
    height: 100%;
}

#categories li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: auto;
    font-size: 1.5rem;
}

#categories li:hover, #categories img:hover{
    cursor: pointer;
}

#categories ul {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr; 
}

#categories a {
    grid-row: -1;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    background-color: var(--cranberry);
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    text-decoration: none;
    height: 40px;
    align-items: center;
}

#categories ul + a  {
    width: 80%;
}


/*-------------COUPONS----------------- */

#coupons {
    display: grid;
    grid-template-columns: auto;
    color: black;
    grid-template-rows: repeat(4, auto);
    background-color: rgb(219, 216, 216);
}

#coupons h2 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: left;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5% 10% 0;
}

#coupons p {
    grid-column: 1 / -1;
    display: flex;
    justify-content: left;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 2% 10% 5%;
}

#coupon-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    margin: 0 10%;
    width: 80%;
    justify-self: center;
}

#coupon-grid section {
    display: grid;
    width: 100%;
    justify-self: center;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
}

#coupon-grid section img {
    background-color: white;
    grid-row: 1;
    height: 250px;
    object-fit: contain;
    grid-column: 1 / -1;
    border: black dashed 2px;
    width: 100%;
    overflow: hidden;
    filter:opacity(80%) contrast(85%);
}

#coupon-grid section h3 {
    grid-row: 2;
    grid-column: 1 / 2;
    font-size: 1.5rem;
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    padding: 0;
}

#coupon-grid section p {
    grid-row: 2;
    grid-column: 2 / -1;
    margin: 0;
    text-align: right;
    padding: 0;
    justify-content: end;
    font-size: 1.2rem;
    margin-top: 10px;
}

#coupon-grid section p+p {
    grid-row: 3;
    color: rgb(54, 53, 53);
    grid-column: 1 / -1;
    font-style: italic;
    text-align: left;
    justify-content: flex-start;
    font-size: 1.25rem;
}

#coupon-grid p.save {
    grid-row: 1;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
    z-index: 4;
    color: rgb(71, 71, 71);
}

#coupon-grid section a{
    grid-row: 4;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: black solid 2px;
    border-radius:50px;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    margin-bottom: 25px;
}

#coupon-grid section a:hover {
    background-color: lightgrey;
}

#coupon-grid section a svg {
    width: 50px;
}

#coupons a:nth-child(4) {
    grid-row: -1;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: var(--bluebery);
    color: white;
    text-decoration: none;
    width: 80%;
    height: 40px;
    align-items: center;
    text-transform: uppercase;
}

/*-------------COUPON CLUB FORM----------------- */

#coupon-club {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
}

#coupon-club h2 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5% 10% 5%;
}

#coupon-club form {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    padding: 0 10%;
}
#coupon-club form div{
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.25rem;
}

form input {
    height: 35px;
    margin: 5px 0 25px;
    border: 3px solid black;
}

form #signUp {
    justify-self: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: var(--cranberry);
    color: white;
    border: none;
    text-decoration: none;
    height: 40px;
    width: 40%;
    font-size: 1rem;
    align-items: center;
    text-transform: uppercase;
}
form #signUp:hover {
    cursor: pointer;
}

/*-------------FOOTER----------------- */
footer {
    color: black;
    background-color: rgb(235, 233, 233);
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

footer section p:nth-child(2) {
    grid-column: 1 / -1;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    padding: 5% 10% 5%;
}

footer section p:nth-child(3) {
    padding: 0 10% 5%;
    font-size: 1.2rem;
    line-height: 1.25;
}

footer small {
    display: block;
    padding: 0 10% 5%;
    font-size: 1.2rem;
    line-height: 1.25;
    max-width: 80%;
}
footer ul {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10% 10%;
}
footer li {
    border: 2px solid black;
    border-radius: 55px;
    background-color: white;
}

footer svg {
    margin: 12px;
    width: 6vw;
    display: block;
}
/*-------------MEDIUM SCREENS----------------- */

@media screen and (min-width: 650px){

    /* HERO SECTION */ 
    #hero h2 {
        padding: 0%;
        font-size: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    #hero p{
        text-align: center;
        align-self: flex-start;
        justify-content: center;
        font-size: 1.25rem;
    }
    
    #hero a {
        width: 40%;
        height: 50px;
        margin-top: 0px;
        justify-self: center;
        align-self: flex-start;
    }
    
    /* CATEGORIES */
    #categories {
        padding: 0 10%;
    }


    #categories ul {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr; 
    
    }

    #categories ul + a {
        width: 40%;
    }

    /* Coupons */
    #coupon-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 5%;
        padding: 0 10%;
    }

    #coupons a:nth-child(4) {
        width: 40%;
        margin-top: 60px;
    }

    /* COUPON CLUB FORM */
    #coupon-club form div{
        display: grid;
        grid-template-columns: auto auto;
    }

    #coupon-club form div{
        display: grid;
        gap: 15px;
        grid-template-columns: auto auto;
    }

    #coupon-club form input[id="fName"] {
        grid-column: 1 /2;
    }

    #coupon-club form label[for="lName"] {
        grid-column: 2 /-1;
        grid-row: 1;
    }

    /* FOOTER */
    footer {
        background-color: rgb(235, 233, 233);
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        padding: 15vh 10vw;
    }

    footer section:last-child {
        grid-column: 2 / -1;
        grid-row: 1;
    }

    footer svg {
        width: 3vw;
    }
}
/*-------------LARGE SCREENS----------------- */

@media screen and (min-width: 1000px){ 
    /* HEADER */ 
    header h1 {
        padding: 50px;
        display: block;
    }

    /* ICONS */
    .cart {
        position: absolute;
        height: 35px;
        top: 6vh;
        right: 5vw;
        padding: 0;
    }

    /*-------------HAMBURGER MENU & NAVIGATION----------------- */
    #menu-toggle svg{
        position: static;
        display: none;
    }

    #menu-toggle ul{
        display: grid;
        grid-template-columns: repeat(5, auto);
        position: absolute;
        right: 10vw;
        top: 30px;
    }

    #menu-toggle ul{
        width: 50vw;
    }

    #menu-toggle li {
        background-color: transparent;
        height: 6vh;
        width: fit-content;
    }

    #menu-toggle li:hover, .active{
        border-bottom: 2px white solid;
        color: white;
        background-color: transparent;
        cursor: pointer;
    }

    /* CATEGORIES */
    #categories {
        padding-bottom: 3%;
    }

    #categories h2 {
        padding-top: 5%;
    }

    #categories ul{
        grid-template-columns: repeat(6, 1fr);
    }

    #categories li a {
        margin-top: 60px;
        font-size: 1.25rem;
    }

    /* COUPON CLUB FORM */
    #coupon-club h2 {
        padding: 3% 2%;
    }

    #coupon-club {
        grid-template-columns: auto;
        gap: 10px;
    }

    #coupon-club label[for="email"], #coupon-club input[id="email"] {
        grid-column: 2 / 3;
    }

    form {
        gap: 15px;
    }

    #coupon-club form label[for="email"] {
        grid-row: 1;
        align-self: flex-start;

    }

    #coupon-club form input[id="email"] {
        grid-row: 1;
        align-self: flex-end;
    }

    #coupon-club input[type="submit"] {
        grid-column: 2/3;
        width: 50%;
        padding: 0;
        margin: 0 0 10vh 0;
        justify-self: right;
    }
}